//var
$title-color: red;
$title-style: monospace;
//END var

#container {
  width: 400px;
  // height: 250px;
  background-color: lightgrey;
  margin: auto;
  padding: 20px;

  .content {
    font-family: Arial, san-serif;

    &-title {
      text-decoration: underline;
      font-family: $title-style;
      color: $title-color;
    }

    &-subtitle {
      font-family: $title-style;
      color: $title-color;
    }
  }
}
